.home-section{
    display: flex;
    padding: 30px;
}
.home-section img{
   width: 600px;
}
.data-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 30px;
    margin-top: 40px;
  
}

@media only screen and (max-width: 767px) {
    .home-section{
        padding: 10px;
    }
    .data-container{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin-left: 150px;
      
    }
    .home-section img{
        width: 300px;
        margin-top: 90px;
     }
}