nav a{
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover{
    color: peru;

}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    background-color: lightblue;
    font-size: large;
   
}
.purple{
    color: purple;
}

@media only screen and (max-width: 767px) {
    nav a{
        margin-right: 8px;
    }
    .nav{
        padding-left: 10px;
        padding-right: 10px;
        font-size: medium;
}
}