nav a{
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover{
    color: peru;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    background-color: lightblue;
    font-size: larger;
   
}
.purple{
    color: purple;
}

@media only screen and (max-width: 767px) {
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }
}