.error-container{
    margin-top: 200px;

}
.error{
    text-decoration: none;
    color: aliceblue;
    background-color: purple;
    padding: 15px;
    border-radius: 5px;
    font-size: large;
   
}
